<!-- -*- web -*- -->

<div class="container">
    <div class="box">
	<h2>Pesquisa Avançada</h2>
	<div id="adv-search" >
	    <form class="form-inline">
		<legend>Pesquisa no Lema</legend>
		<fieldset class="form-group" >
		    <button onClick="return advAffix();" >Procurar</button>
		    <label>Lemas que </label>
		    <select id="affixType"  class="selectpicker">
			<option value="prefix">comecem por </option>
			<option value="infix" >incluam</option>
			<option value="suffix" >terminem por</option>
		    </select>
		    <label style="margin-left: 10px;">  <input id="affix"  class="form-control" type="text"/></label>
		</fieldset>

		<legend>Pesquisa Reversa</legend>
		<fieldset class="form-group" >
		    <button onClick="return advReverse();" >Procurar</button>
		    <label>Termos de Pesquisa: <input id="reverseTerms" class="form-control" size="50" type="text"/></label>
		</fieldset>

		<legend>Pesquisa Ontológica</legend>
		<fieldset class="form-group" >
		    <button onClick="return advOntology();" >Procurar</button>
		    <label>Termos de Pesquisa: <input id="ontologyTerms" class="form-control" size="50" type="text"/></label>
		</fieldset>
	    </form>
	</div>
    </div>
</div>


<script type="text/javascript" >
    $('.selectpicker').selectpicker();
</script>
