<!-- -*- web -*- -->

<div style="text-align: center;" id="bookZone">
    <img src="images/book.jpg" alt="Livro"/>
</div>

<div class="container">
<!--     <div class="row">
        <div class="col-sm-3" ></div>
	    <div class="col-sm-6" style="margin-top: 30px;">
	        <div class="box">
		        <h2>Procurar</h2>
		        <div id="wotd"></div>
	        </div>
	    </div>
        <div class="col-sm-3" ></div>
    </div> -->

    <div class="row">
        <div class="col-sm-3" ></div>
	    <div class="col-sm-6" style="margin-top: 30px;">
	        <div class="box">
		        <h2>Destaque</h2>
		        <div id="wotd"></div>
	        </div>
	    </div>
        <div class="col-sm-3" ></div>
    </div>
</div>


<script type="text/javascript" >
    $('.selectpicker').selectpicker();
</script>
