
<div class="container" style="margin-top: 40px;">
    <div class="row" >
	<div class="col-sm-8 col-md-offset-2 box" id="entrar">
	    <h2>Entrar</h2>
	</div>
    </div>

    <div class="row">
	<div class="col-sm-8 col-md-offset-2 box hidden" id="registar">
	    <h2>Registar</h2>
	</div>
    </div>

    
    <div class="row" >
	<div class="col-sm-8 col-md-offset-2 box hidden" id="recuperar">
	    <h2>Recuperar Senha</h2>
	</div>
    </div>

    <div class="row" style="text-align: center" >
	<ul class="badgeMenu">
	    <li onClick="show_and_hide(['entrar'], ['registar','recuperar']);"
		id="entrarBtn"
		class="hidden"><span class="glyphicon glyphicon-log-in"></span>Entrar</li>
	    <li onClick="show_and_hide(['registar'], ['entrar','recuperar']);"
		id="registarBtn"><span class="glyphicon glyphicon-edit"></span>Registar</li>
	    <li onClick="show_and_hide(['recuperar'], ['entrar','registar']);"
		id="recuperarBtn"><span class="glyphicon glyphicon-envelope"></span>Recuperar Senha</li>
	</ul>
    </div>
    
</div>
