<!-- -*- web -*- -->

<div class="container" style="margin-top: 40px;">
    <div class="row" >
	    <div class="col-sm-8 col-md-offset-2 box">
	        <h2>Definir Senha</h2>
        </div>
    </div>
    <div class="row" >
	    <form class="col-md-offset-2 col-sm-8">
		    <div class="form-group" >
			<label for="senha1">Introduzir Senha</label>
			<input type="password" class="form-control" id="senha1" name="senha1"
			       placeholder="Senha"/>
		    </div>
    
		    <div class="form-group" >
			<label for="senha2">Repetir Senha</label>
			<input type="password" class="form-control" id="senha2" name="senha2"
			       placehoolder="senha"/>
		    </div>
		    <div class="form-group" style="text-align: right">
			<button class="btn btn-primary" onClick="return login_user();">Alterar</button>
		    </div>
		</form>
	</div>
</div>
