	

<div class="container" style="margin-top: 30px;">
    <div class="row">
     	<div class="col-sm-offset-3 col-sm-6">
	    <div class="box">		   
		<h2>Entrada Aleatória</h2>
		<div id="random"></div>
	    </div>
	</div>
    </div>
</div>
