<!-- -*- web -*- -->

<div class="container">
    <div class="box">
	    <h2>Recursos</h2>
        <div>
            <ul>
                <li>Transcrições Originais do Distributed Proofreaders [<a href="/resources/txts.zip">txts.zip</a>]</li>
                <li>Conversão Automática em XML (TEI) [<a href="/resources/xmls.zip">xmls.zip</a>]</li>
                <li>Dicionário em formato StarDict [<a href="/resources/stardict-DicAberto.tar.bz2">stardict-DicAberto.tar.bz2</a>]</li>
                <li>Dicionário em formato PDF [<a href="/resources/dict.pdf">dict.pdf</a>]</li>                                 <li>Dicionário em formato ePUB [<a href="/resources/dicaberto.epub">dicaberto.epub</a>]</li>                             </ul>
        </div>
    </div>
</div>

