

<script type="text/javascript" >
 $( () => { $('#avatar').attr("src", "https://www.gravatar.com/avatar/" + da_jwt.avatar); });
</script>

<!-- -*- web -*- -->
<div class="container" >
    <div class="box" >
	<h2>Perfil de Utilizador</h2>
	<div id="user-profile">
	    <img id="avatar" style="border-radius: 3px"/>
	</div>
    </div>
</div>
