
<div id="main">
  <div class="text">
    <h2>Histórico de Novidades</h2>

    <dl>
      <% FOREACH new IN news %>
      <dt><% new.date %> - <% new.title %></dt><dd><% new.text %></dd>
      <% END %>
    </dl>
  </div>
</div>
