@import url(mainmenu.css);
@import url(entries.css);
@import url(diff.css);

label.error {
  margin-left: 6px;
  color: #BB0000;
  font-weight: bold; }

/* Search box */
.button {
  display: inline-block;
  margin-top: 3px; }

.button:hover {
  background-color: #ffffff;
  opacity: .8;
  cursor: pointer; }

#close {
  cursor: pointer;
  margin: 6px;
  float: right; }

#pesquisa {
  margin: 0px; }

#setaimg:hover,
#close:hover {
  opacity: .8; }

.popup {
  display: none;
  background-color: #DDDDFF;
  border: solid 10px #BBCCEE;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  opacity: .9; }

.popup h2 {
  margin: 0px;
  padding: 3px;
  color: #000000;
  font-weight: bold;
  background-color: #BBCCEE; }

body {
  color: #444;
  margin: 0;
  padding-bottom: 50px;
  text-align: center; }

#setaimg {
  cursor: pointer; }

a:link {
  color: #496582;
  text-decoration: underline; }

a:visited {
  color: #547caa;
  text-decoration: underline; }

a:hover {
  background: #496582;
  text-decoration: none;
  color: #fff; }

.img img {
  border: none; }

.img:hover {
  background: none; }

hr {
  display: none; }

.clear {
  clear: both;
  height: 1%; }

.hide {
  display: none; }

.contents {
  margin: 0 auto;
  text-align: left; }

#head_home {
  background: #ebf3fb url("../images/teaser.gif") repeat-x bottom;
  text-align: center;
  padding-bottom: 10px; }

#logo {
  margin: 0 auto;
  text-align: center;
  width: 315px; }

#logoimg {
  height: 89px; }

#logo h1,
#logo h1 a,
#logo h1 img {
  width: 315px;
  height: 89px;
  margin: 0;
  padding: 0; }

#logo h1 {
  background: url("../images/logo.png") no-repeat left bottom; }

#logo h1 a {
  display: block;
  text-indent: -9999px;
  text-decoration: none;
  border: 0;
  background: none; }

#head_home p {
  margin: 0;
  padding: 0;
  text-align: center; }

#search p {
  margin: 0;
  padding: 0;
  text-align: left; }

#search label {
  display: none; }

#search form {
  margin: 0;
  padding: 0; }

#word {
  border: 2px solid #dfdfdf;
  font-size: 1.5em;
  padding: 3px;
  margin-top: 5px;
  width: 450px;
  background: #fff;
  color: #a2a2a2;
  font-family: Arial, Helvetica, sans-serif; }

#word:focus {
  border-color: #acc9e5;
  background: #fafefe;
  color: #496582; }

#submit {
  border: 1px solid #77a4d3;
  border-right: 1px solid #3b5269;
  border-bottom: 1px solid #3b5269;
  font-size: 1.3em;
  width: 6.5em;
  padding: 3px 4px;
  color: #fff;
  background: #496582;
  font-family: Arial, Helvetica, sans-serif; }

#submit:hover,
#submit:focus {
  cursor: pointer;
  background: #547caa;
  border: 1px solid #3b5269;
  border-right: 1px solid #6e97cc;
  border-bottom: 1px solid #6e97cc; }

.random {
  font-size: 0.9em;
  text-align: left;
  margin: 0;
  padding: 0; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 10px 15px;
  color: #555; }

.more {
  text-align: right;
  font-size: 0.9em;
  font-style: italic; }

#main {
  text-align: center; 
}

.text {
  text-align: left; }

.nearmisses {
  border: 1px solid #f9ca00;
  background: #feffde url("../images/help.png") no-repeat 4px 4px;
  padding: 2px 4px 2px 26px; }

.flash_error {
  color: #999900;
  font-weight: bold;
  padding: 8px 4px 8px 4px;
  width: 60%;
  margin-left: 20px;
  background-color: #dedeff;
  background-color: rgba(222, 222, 255, 0.5);
  border-top: 0px;
  border-left: solid 1px #999900;
  border-right: solid 1px #999900;
  float: left;
  border-bottom: solid 2px #999900;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.flash_ok {
  color: #009900;
  font-weight: bold;
  padding: 8px 4px 8px 4px;
  width: 60%;
  margin-left: 20px;
  background-color: #e2ffd6;
  background-color: rgba(226, 255, 214, 0.5);
  border-top: 0px;
  border-left: solid 1px #009900;
  border-right: solid 1px #009900;
  float: left;
  border-bottom: solid 2px #009900;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px; }

input.blue {
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #d6e2ff;
  border-top: solid 2px #9999ff;
  border-left: solid 1px #9999ff;
  border-right: solid 1px #9999ff;
  border-bottom: solid 2px #9999ff;
  padding: 4px;
  color: #000033;
  font-weight: bold; }

input.blue:hover {
  background-color: #dadaff;
  cursor: pointer; }

input.green {
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #e2ffd6;
  border-top: solid 2px #009900;
  border-left: solid 1px #009900;
  border-right: solid 1px #009900;
  border-bottom: solid 2px #009900;
  padding: 4px;
  color: #003300;
  font-weight: bold; }

input.green:hover {
  background-color: #d2efc6;
  cursor: pointer; }

.left {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px; }

.right {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px; }

input.red {
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #ffe2d6;
  border-top: solid 2px #990000;
  border-left: solid 1px #990000;
  border-right: solid 1px #990000;
  border-bottom: solid 2px #990000;
  padding: 4px;
  color: #003300;
  font-weight: bold; }

input.red:hover {
  background-color: #efd2c6;
  cursor: pointer; }

#msg img {
  vertical-align: middle; }

.notfound {
  border: 1px solid #d6582f;
  background: #ffe2d6 url("../images/exclamation.png") no-repeat 4px 4px;
  padding: 2px 4px 2px 26px;
  margin-top: 5px; }

#main h2 {
  margin: 20px 0 0;
  border: 1px solid #ACC9E5;
  padding: 2px 4px 2px 26px;
  background: #d8e7fb url("../images/style.png") no-repeat 4px 4px;
  font-size: 1.1em; }

#footer {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px; }

#footer p {
  text-align: center;
  font-size: 0.9em;
  margin: 0; }

/* ------------- from browse ----------------- */
#grad {
  background: url(../images/grad2.png) repeat-x;
  height: 93px; }

#block {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; }

#letras {
  width: 3em;
  text-align: center;
  float: left; }

#palavras {
  text-align: left;
  border-left: solid 1px #acc9e5;
  border-right: solid 1px #acc9e5;
  float: left; }

#thedef {
  padding-left: 10px;
  width: 550px;
  text-align: left;
  float: left; }

.controls {
  background-color: #f8f8f8;
  text-align: right;
  padding-right: 10px; }

#palavras a {
  background-color: inherit; }

#letras a {
  background-color: inherit; }

.nextprev {
  background-color: #f8f8f8;
  padding: 2px; }

.nextprev a {
  background-color: inherit;
  color: #656565;
  text-decoration: none; }

.nextprev a:hover {
  color: #000000;
  cursor: pointer;
  text-decoration: none; }

.seta {
  vertical-align: middle; }

.selected {
  background: #ecf3fb url(../images/seta.png) no-repeat right center;
  padding-left: 10px;
  padding-right: 10px; }

.noselected {
  padding-left: 10px;
  padding-right: 10px; }

.noselected a {
  text-decoration: none;
  color: #656565; }

.selected a {
  text-decoration: none;
  font-weight: bold;
  color: #000000; }

.noselected a:hover {
  color: #222222; }

img {
  border: none; }

#registerTitle {
  display: none; }

#userinfo {
  float: right;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-left: solid 1px #990000;
  border-right: solid 1px #990000;
  border-bottom: solid 2px #990000;
  background-color: #FFDEDE;
  background-color: rgba(255, 222, 222, 0.5);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px; }

#userinfo a {
  color: #990000;
  font-weight: bold;
  text-decoration: none; }

#userinfo a:hover {
  text-decoration: underline;
  background-color: #FFDEDE;
  color: #BB0000; }

.required {
  color: #990000; }

.form td {
  text-align: left;
  vertical-align: top; }

.form input[type=text] {
  border: 2px solid #dfdfdf;
  padding: 2px;
  font-size: 1.1em; }

.form textarea {
  border: 2px solid #dfdfdf;
  padding: 2px;
  font-size: 1.1em; }

input[readonly] {
  border: none;
  font: inherit; }

.realtable {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ACC9E5;
  border-collapse: collapse; }

.realtable th {
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid #ACC9E5;
  background: #d8e7fb; }

.realtable td {
  padding: 3px; }

.realtable tr:nth-child(odd) {
  background-color: #ebf3fb; }
