<!-- -*- html -*- -->
    <div id="search" style="float: right; position: absolute; bottom: 0px; right: 0px;">
      <p id="range" style="text-align: left">de <strong><% first_word %></strong> a <strong><% last_word %></strong> (<% count %> entradas)</p>
      <% PROCESS headers/hmenu.tt %>
    </div>
  </div>
  <div id="seta" style="float: right; "><img onclick="expand()" id="setaimg" style="vertical-align: top" src="<% request.uri_base %>/images/down.png" alt="Alargar"/>&nbsp;</div>
