<html ng-app="DA">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/images/favicon.gif"/>

    <title>Dicionário Aberto</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"/>

    <!--Import materialize.css-->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"
          rel="stylesheet"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script type="text/javascript" src="/js/controllers.js"></script>

    <!-- FIX ME ****************************************
      <link rel="alternate" type="application/atom+xml" title="Atom" href="<% request.uri_base %>/news.xml" title="Novidades"/>

      <link rel="search" type="application/opensearchdescription+xml" title="Dicionário aberto"
          href="<% request.uri_base %>/search.xml"/>

      
      ************************************************ -->
    <link rel="stylesheet"
          href="/css/style.css" type="text/css" media="screen"/>
  </head>
  <body>

  <header>
   <div ng-include="'html/header.html'"></div>
  </header>

  <main>
    <div class="container row">

    <div ng-include="'html/main.html'"></div>

    </div>
  </main> 

  <div ng-include="'html/footer.html'"></div>

  </body>
</html>

