<div class="col s12">
  <h4 class="title">Sobre o Dicionário</h4>
  <div class="container">
    <p class="justify">
      <b>O Novo Dicionário da Língua Portuguesa</b> de Cândido de
      Figueiredo de 1913 está no <b>Domínio Público</b>. A sua versão
      transcrita por voluntários no Distributed Proofreaders com a
      supervisão de Rita Farinha está igualmente no Domínio
      Público. Este documento pode ser livremente descarregado e
      utilizado, a partir do sítio
      do <a href="http://www.gutenberg.org/etext/31552">Projecto Gutenberg</a>.
    </p>

    <p class="justify">Para mais informção sobre o <i>Novo Dicionário da Língua Portuguesa</i> e o
      <i>Dicionário Aberto</i> pode consultar:
        <ol style="list-style-type: circle;">
          <li><a ui-sref="history">História do Dicionário Aberto</a></li>  
          <li><a ui-sref="intro">Introdução da Edição Transcrita</a></li>
          <li><a ui-sref="abbrev">Lista de Abreviaturas da Edição Transcrita</a></li>
          <li><a ui-sref="geo">Introdução ao Apenso Geográfico da Edição Transcrita</a></li>
          </ol>
          De realçar que estas três últimas secções são apresentadas
      na sua transcrição fiel ao documento transcrito, sem qualquer adaptação. São apresentadas
        apenas como complemento à história do projeto. O <i>Dicionário Aberto</i> não se rege
        nem segue as orientações iniciais do <i>Cândido de Figueiredo</i>.
        </p>
      </div>
      <h4 class="title">Informação Legal</h4>
    <div class="container">
    <p class="justify">
      A versão do dicionário disponível neste sítio, do
      Dicionário-Aberto, é uma versão baseada na referida anteriormente
      mas em que alterações foram realizadas a nível de formatação e de
      alguns registos. Todos os documentos descarregáveis a partir deste
      sítio estão abrangidos pela licença Creative
      Commons <a href="http://creativecommons.org/licenses/by-sa/2.5/pt/">Attribution-Share Alike 2.5 Portugal</a>, resumida como:<br/>
      <span style="margin: 0px 8px;">•</span>O utilizador pode copiar, distribuir, exibir e executar a
      obra, e criar obras derivadas;<br/>
      <span style="margin: 0px 8px;">•</span>Tendo em conta que deve dar crédito ao autor original;<br/>
      <span style="margin: 0px 8px;">•</span>E que, se alterar, transformar, ou criar outra obra com base
      nesta, só poderá distribuir a obra resultante através de uma
      licença idêntica a esta.<br/>
    </p>
  </div>
  <h4 class="title">Créditos</h4>
  <div class="container">
    <p class="justify">
      Este projecto é mantido por Alberto Simões com a indispensável
      ajuda de Rita Farinha. O <i>design</i> original foi preparado por
      Ivo Gomes. Agradecemos ainda a tantos que transcreveram o Novo
      Diccionário de Cândido de Figueiredo no <i>Distributed Proofreaders</i>.
    </p>
  </div>
</div>
