<div class="col s12" ng-controller="BrowseController">
  <h4 class="title">navegar dicionário</h4>

  <!-- top bar -->

  <div id="letters" class="center-align">
    <span ng-repeat="l in range('a','z')">
      <a ng-if="l != curr.letter" ui-sref="browse({letter: l})" class="letterlnk">{{ l }}</a>
      <span ng-if="l == curr.letter" class="letterlnk">{{ l }}</span>
      <span class="lettersep" ng-if="!$last">•</span>
    </span>
  </div>



  <div class="row" style="margin-top: 20px;">
    <div class="col s9">
      <div ng-repeat="entry in entries">
        <div class="card">
          <div class="card-content">
            <span class="card-title" ng-bind-html="entry.word"></span>
            <p ng-bind-html="entry.def"></p>
          </div>
        </div>
      </div>
    </div>

    <!-- right bar -->

    <div class="col s3">

  
    

<!--      <h4 class="title" style="text-align: right;">{{ curr.letter }}</h4> -->
      <div class="collection align-right browse">
        <div class="row browse-item collection-header">

          <div class="col s3">
            <span ng-if="words[0].id > 100"><i class="my-link material-icons">skip_previous</i></span>
            <span ng-if="words[0].id <= 100">&nbsp;</span>
          </div>

          <div class="col s3">
            <span ng-if="words[0].id > 10"><i class="my-link material-icons">fast_rewind</i></span>
            <span ng-if="words[0].id <= 10">material-icons&nbsp;</span>
          </div>

          <!-- this one is cheating -->
          <div ng-if="words[words.length-1].id - curr.id > 5">
            <div class="col s3"><i class="my-link material-icons">fast_forward</i></div>
            <div class="col s3"><i class="my-link material-icons">skip_next</i></div>
          </div>
          <div ng-if="words[words.length-1].id - curr.id <= 5">          
            <div class="col s3">&nbsp;</div>
            <div class="col s3">&nbsp;</div>
          </div>
        </div>

        <a ng-repeat="w in words" ng-click="select(w.word)" class="my-link browse-item collection-item"  ng-class="{ active: curr.word == w.word }">{{ w.word }}</a>
      </div>
    </div>
  </div>
</div>
