<div class="col s12">
  <h4 class="title">história do dicionário aberto</h4>
  <div class="container">

  <p>O <i>Dicionário Aberto</i> teve o seu início com o objetivo de disponibilizar,
  de forma aberta e gratuita, um dicionário da língua portuguesa.</p>

  <p>Dada a impossibilidade da contratação de recursos humanos especializados para a 
  construção, de raiz, de um dicionário, o projeto nasceu com a ideia, um pouco utópica,
  da transcrição de um dicionário existente, cujos direitos de autor tivessem caducado.</p>

  <p>Depois de várias tentativas com a editora do Dicionário de Augusto Moreno para permitir a
  transcrição de uma edição já com mais de 50 anos, tentativas essas que não deram o devido fruto,
  surgiu a possibilidade da transcrição do <i>Novo Diccionário da Língua Portuguesa</i>, de
  <i>Cândido de Figueiredo</i>.</p>

  <p>O Novo Diccionário da Língua Portuguesa de Cândido de Figueiredo é um dicionário da língua portuguesa, que teve a sua primeira edição em 1899. A sua segunda edição é de 1913.
  Tendo Cândido de Figueiredo morrido a 1925 e sendo a edição da copia disponível na
  Biblioteca Nacional Digital de 1913, de acordo com a legislação atual sobre direitos de autor, os direitos de cópia do seu conteúdo prescreveram, tornando-o integrante no Domínio Público.</p>

  <p>A transcrição deste dicionário foi realizada entre 2005 e 2010 no <a href="http://pgdp.net">Distributed Proofreaders</a> sob supervisão de Rita Farinha. Esta transcrição foi realizada, também, com o objetivo do documento integrar o <a href="http://gutenberg.org">Projeto Gutenberg</a>.</p>

  <p>Em meados de 2010 a transcrição terminou e o documento integrou a coleção do Projeto Gutenberg. 
  Nesta altura, o Dicionário Aberto deixa de ser apenas um interface para a consulta da transcrição, mas passa a funcionar como um projeto autónomo que deverá crescer com a colaboração da comunidade.</p>


  </div>
</div>
