
<div id="signIn" class="col s6" ng-controller="SignIn">
  <h4 class="title">entrar</h4>
	<div class="card">
		<div class="card-content">
			<label for="inUser">Utilizador</label>
			<input id="inUser" type="text" placeholder="username" />

			<label for="inPass">Senha</label>
			<input id="inPass" type="password" />

			<div style="text-align: right;">
				<button>Entrar</button>
			</div>	
			
		</div>
	</div>

	<div style="font-size: smaller">
		Para recuperar a sua senha, preencha o seu utilizador ou e-mail no formulário
		de registo, e use o botão <i>Recuperar Senha</i>.
	</div>

</div>

<div id="signUp" class="col s6" ng-controller="SignUp">
  <h4 class="title">registar</h4>
	<div class="card">
		<div class="card-content">
			<label for="upUser">Utilizador</label>
			<input id="upUser" type="text" placeholder="username" />

			<label for="upEmail">E-Mail</label>
			<input id="upEmail" type="email" placeholder="you@there.com" />

			<label for="upName">Nome</label>
			<input id="upName" type="text"  />

			<button style="float: right;">Registar</button>
			<button>Recuperar Senha</button>

		</div>
	</div>

</div>
