<div class="row">
<div id="news" class="col-md-6" ng-controller="NewsController">
  <h3>novidades</h3>

   <!-- loader -->
    <div class="preloader-wrapper small active" ng-if="loading">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <!-- /loader -->
    <div ng-ig="!loading">
 
      <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> -->
      <uib-accordion>
<!--       <div class="panel panel-default" ng-repeat="n in news">       -->
           <uib-accordion-group heading="{{ n.date | myDate }} &middot; {{ n.title }}" ng-repeat="n in news">
<!--        <div class="panel-heading" role="tab" id="headingOne"> 
         <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion"
             href="#{{ n.date }}" aria-expanded="true" aria-controls="{{ n.date }}">
           <b></b> 
          </a>
         </h4>
        </div>
        <div id="#{{ n.date }}" class="panel-collapse collapse in" role="tabpanel">
         <div class="panel-body" ng-bind-html="n.text"></div>-->
         <div ng-bind-html="n.text"></div>
        <!--</div>
       </div>
      </div>-->
      </uib-accordion-group>
      </uib-accordion>
      
    </div> <!-- loading -->

<!--
   <div class="more">
      <strong>&raquo; </strong><a href="/news">histórico</a>
    </div>

  <h3>Outros</h3>

 <div class="card">
  <div class="card-content">
 
  <a href="/stats">Estatísticas</a>
  <br/>
  <a href="/estaticos/legal.html">Informação Legal</a>
  <br/>
  <a href="/estaticos/about.html">Sobre o Novo Diccionário</a>
  <br/>
  <a href="/estaticos/intro.html">Introduç&atilde;o do Novo Diccionário</a>
  <br/>
  <a href="/estaticos/abrev.html">Abreviaturas</a>
  <br/>
  <a href="/estaticos/geo.html">Apenso Geográfico</a>
  <br/>
  <a href="/estaticos/api.html" title="API RESTful">API RESTful</a>

</div></div>

-->

</div>


<div id="menu" class="col-md-6">

  <h3>palavra em destaque</h3>



  <div class="card" ng-controller="DailyWord">
    <div class="card-content">
      <!-- loader -->
      <div class="preloader-wrapper small active" ng-if="loading">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <!-- /loader -->
      <div ng-ig="!loading">
        <span class="card-title" ng-bind-html="word"></span>
        <p ng-bind-html="def"></p>
      </div>
    </div>

  </div>



  <h3>recursos</h3>  

  <div class="card">
  <div class="row card-content">
    <div class="col s1">&nbsp;</div>
    <div class="col s2" style="text-align: center;">
      <a class="tooltipped"
      data-position="bottom"
      data-delay="50"
      data-tooltip="PDF"
      href="/static/dict.pdf"><img src="./images/pdf.png" 
          class="resource"
          alt="PDF"/></a>
    </div>
    <div class="col s2" style="text-align: center;">
      <a class="tooltipped"
        data-position="bottom"
        data-delay="50"
        data-tooltip="ePub"
        href="/static/dicaberto.epub"><img src="./images/epub.png" 
          class="resource"
          alt="ePub"/></a>
    </div>
    <div class="col s2" style="text-align: center;">
      <a class="tooltipped"
        data-position="bottom"
        data-delay="50"
        data-tooltip="StarDict"
        href="/static/stardict-DicAberto.tar.bz2"><img src="./images/sdict.png" 
          class="resource"
          alt="StarDict"/></a>
    </div>
    <div class="col s2" style="text-align: center;">
      <a class="tooltipped"
        data-position="bottom"
        data-delay="50"
        data-tooltip="SQL"
        href="#FIXME"><img src="./images/sql.png" 
          class="resource"
          alt="SQL"/></a>
    </div>
    <div class="col s2" style="text-align: center;">
      <a class="tooltipped"
        data-position="bottom"
        data-delay="50"
        data-tooltip="XML/TXT"
        href="#FIXME"><img src="./images/xml-small.png" 
          class="resource"
          alt="XML/TXT"/></a>
    </div>
    <div class="col s1">&nbsp;</div>    
  </div>

  </div>

</div>
</div>


<script>
   angular.element(document).ready(function () {
        $('.collapsible').collapsible({ accordion : false });
        $('.tooltipped').tooltip({delay: 50});
   });
</script>
