
<div id="results" ng-controller="Search" class="row">
  
  <div class="col-md-8">
    <!-- loader -->
    <div class="preloader-wrapper small active"
         ng-if="mainLoading">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <!-- /loader -->
    <div ng-if="!mainLoading">    
      <div ng-if="entries.length > 0">
        <div ng-repeat="entry in entries">
     <div class="panel panel-info">
  
  <div class="panel-heading">
    <h3 class="panel-title"  ng-bind-html="entry.word"></h3>
  </div>                 
<div class="panel-body">
              <p ng-bind-html="entry.def"></p>
            </div>
          </div>

        </div>
      </div> <!-- if -->

      <div ng-if="entries.length < 1">
<div class="panel panel-default">
  <div class="panel-body">
              <p>Palavra não encontrada</p>
          </div>
        </div>
      </div> <!-- if -->
    </div>  
  </div><!-- col-md-8 -->

  <div class="col-md-4">

    <!-- loader -->
    <div class="preloader-wrapper small active"
         ng-if="nearLoading">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <!-- /loader -->
    <div ng-if="!nearLoading">    

      <div ng-if='near.length > 0'>
        <div class="panel panel-default">

<div class="panel-heading">
    <h3 class="panel-title">Ver também...</h3>
  </div>                
  <div class="panel-body">

            <div ng-repeat="entry in near">
              <div><a ui-sref="search({word: entry})" ui-sref-opts="{reload: true}">{{ entry }}</a></div>
        	  </div>
          </div>
        </div>
      </div> <!-- near.length > 0 -->        
    </div> <!-- nearLoading -->
  </div>

</div>

