<div class="term<% item.class %>">
  <h3><% item.term %></h3>
  <div class="def">

    <div class="innerdef">
      <% item.definition | evaltt %>

      <% IF item.relations %>
        <ul>
        <% FOREACH rel IN item.relations %>
          <li><b><% rel.key %>:</b> <% rel.value | evaltt %></li>
        <% END %>
        </ul>
      <% END %>
    </div>

    <div class="toolbar">

      <div class="ltoolbar">
        <% IF item.revisions.size > 1 %>
        <form method="POST" id="revision" action="<% query %>/<% item.word %>:<% item.sense %>">
         <select name="revision">
          <% FOREACH revision IN item.revisions %>
            <% IF revision == item.revision_id %>
              <option selected="yes" value="<% revision %>">Revisão <% revision %></option>
            <% ELSE %>
              <option value="<% revision %>">Revisão <% revision %></option>
            <% END %>
          <% END %>
         </select>
         <% UNLESS item.moderator %>
           <% IF user.moderate_revision %>
           <a href="<% request.uri_base %>/moderar_revisao/<% item.word %>:<% item.sense %>?rev=<% revision %>">
           <% END %>
             <img src="<% request.uri_base %>/images/exclamation.png" alt="!!"
                  title="Esta revisão ainda não foi moderada!" style="vertical-align: middle"/>
           <% IF user.moderate_revision %></a><% END %>
         <% END %>
         <input type="hidden" name="sense" value="<% item.sense %>"/>
         <input type="submit" style="display: none"/>
        </form>
        <% END %>
      </div>

      <% IF session.username %>
        <% IF item.userfav %>
          <img src="/images/heart_delete.png"
               onClick="favourite(this, 'remove', '<% item.word_id %>');"
               alt="<% item.nfav %>" title="<% item.nfav %>"/>
        <% ELSE %>
          <img src="/images/heart_add.png"
               onClick="favourite(this, 'add', '<% item.word_id %>');"
               alt="<% item.nfav %>" title="<% item.nfav %>"/>
        <% END %>
      <% ELSE %>
      <img src="/images/heart.png"
           onClick="alert('Deve registar-te e autenticar-se para poder registar favoritos!');"
           alt="<% item.nfav %>" title="<% item.nfav %>"/>
      <% END %>
    </div>  
  </div>
</div>
