body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#results {
  margin-top: 20px;
}

.resource:hover {
  filter: opacity(100%);
}

.resource {
  width: 90%;
  filter: opacity(60%);  
}

footer a { color: #0d47a1; }

h5.title {
  font-weight: 300;
  text-transform: lowercase;
  border-bottom: solid 1px #0d47a1;
}

h4.title {
  color: #0d47a1;
  text-transform: lowercase;
  font-weight: 200;
  text-align: center;
}

.brand-logo img {
  height: 50px;
  margin: 5px;
}

.nav-wrapper ul a:hover { background-color: #0d47a1; color: #ffffff;}

.nav-wrapper ul a { color: #0d47a1;}

.nav-wrapper li {height: 64px;}
.nav-wrapper form { height: 64px;}

.nav-wrapper form .input-field > label        > i { color: #0d47a1; }
.nav-wrapper form .input-field > label.active > i { color: #0d47a1; } 
.nav-wrapper form:hover .input-field > label        > i { color: #FFF; }
.nav-wrapper form:hover .input-field > label.active > i { color: #FFF; } 

.nav-wrapper form > .input-field > label.active + i.active { color: #0d47a1; }
.nav-wrapper form:hover > .input-field > label.active + i.active { color: #FFF; }


.nav-wrapper .input-field input { color: #0d47a1;}
.nav-wrapper .input-field input:focus { background-color: inherit; color: #0d47a1;}

.nav-wrapper form:hover { background-color: #0d47a1;}
.nav-wrapper form:hover .input-field input[type="search"]{ color: #FFF;}
